#Banner {
    width: 100%;
    padding: 100px 0;
    background-image: linear-gradient(to right, #FAFAFA, #FAFAFA00), url(../Image/BannerPicture.jpg);
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

#BannerTitleArea {
    margin-left: 10%;
}

button {
    margin-top: 12px;
    margin-left: 10%;
}