@font-face {
    font-family: MiSans;
    src: url(../Fonts/MiSans\ VF.ttf) format(truetype);
}

@font-face {
    font-family: Segoe Fluent Icons;
    src: url(../Fonts/Segoe\ Fluent\ Icons.ttf) format(truetype);
}

a, i, em, u, s, b, strong, p, h1, h2, h3, h4, h5, h6 {
    color: #000000cc;
    font-family: MiSans;
}

.Lable {
    color: #00000080;
    line-height: 1.5;
}

.BannerTitle {
    font-size: 36px;
}