* {
    margin: 0;
    padding: 0;
    margin-block: 0;
    margin-inline: 0;
}

body {
    background-color: #FAFAFF;
    font-family: MiSans;
}

button {
    height: 36px;
    padding: 0 72px;
    border-radius: 18px;
    border-style: none;
    background-color: #0000000d;
    color: #00000080;
    font-family: MiSans;
    font-weight: 600;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    background-color: #2A8AF7;
    color: #FFF;
}