body{
    background-image: url(mod_bg.jpg);
    margin: 0px;
}
h1{
    display: inline;
    background-image: linear-gradient(to bottom right,#1D54FF,#00C4C4);
    background clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}
